.viewCard-no-bad-data {
    background-color: #00800066;
}

.viewCard-some-bad-data {
    background-color: #ff000066;
}

.viewCard-error {
    background-color: #ffea0066;
}

.viewCard {
    border: 1.5px solid #dddbda;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.viewCacheItem {
    border: 8.5px solid #dddbda;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}