th {
    cursor: pointer;
    border-width: var(--slds-g-sizing-border-3, 3px);
    border-bottom: var(--slds-g-sizing-border-1, var(--lwc-borderWidthThin, 1px)) solid var(--slds-g-color-neutral-base-90, var(--lwc-colorBorder, #c9c9c9));
}

th.sorted {
    background-color: var(--slds-g-color-surface-2, var(--lwc-colorBackground, #f3f3f3)) !important;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 11px;
    padding-right: var(--slds-g-sizing-5, var(--lwc-squareIconMediumContent, 1rem))!important;
}

th.sorted-asc {
    background-image: url(/img/arrowUp.gif);
}

th.sorted-desc {
    background-image: url(/img/arrowDown.gif);
}

th.vertical {
    align-content: center;
    writing-mode: vertical-lr;
    background-position-x: left;
    transform: rotate(180deg);
    border-bottom: unset;
    border-top: var(--slds-g-sizing-border-1, var(--lwc-borderWidthThin, 1px)) solid var(--slds-g-color-neutral-base-90, var(--lwc-colorBorder, #c9c9c9));
}

tr.bad {
    background-color: var(--slds-g-color-warning-base-90);
}

td.wrapped {
    white-space: pre-line; /* Allows wrapping within cells but respects line breaks */
}

td.bad {
    background-color: var(--slds-g-color-warning-base-80);
    background-image: url(/img/msg_icons/warning16.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 11px;
    padding-left: var(--slds-g-sizing-5, var(--lwc-squareIconMediumContent, 1rem))!important;
}

tr.bad > button {
    line-height: normal;
}

div.unsettablewidth > table {
    width: unset;
}
div.autowidth {
    width: auto;
}

div.stickytable {
    max-height: calc(100vh - 200px);
}

th.sticky {
    position: sticky;
    top: calc(var(--slds-g-spacing-1, var(--lwc-spacingXxxSmall, 0)) / 2); /* Don't forget this, required for the stickiness */
    z-index: 1000; /* when scrolling the header should stay on top */
    vertical-align: bottom;
    background-color: var(--slds-g-color-surface-1, var(--lwc-colorBackgroundAlt, white)); /* prevent rows from showing through */
}

.searchInput {
    margin: var(--slds-g-spacing-1, 0.25rem) 0 var(--slds-g-sizing-border-2, 2px) 0;
}
