.progress-marker-started {
    border-color: unset; 
    background-image: url(/img/loading.gif) !important; 
    background-size: 8px !important;
}

.progress-marker-ended {
    border-color: green !important; 
    background-image: url(/img/func_icons/util/checkmark16.gif) !important; 
    background-size: 8px !important;
}

.progress-marker-error {
    border-color: red !important; 
    background-image: url(/img/func_icons/remove12_on.gif) !important; 
    background-size: 8px !important;
}

pre {
    background-color: rgb(66 24 24);
    color: #e39893;
    padding: 10px;
}

.li-ended {
    color: rgb(84, 165, 84);
}