---
---

@import "{{ site.theme }}";

.wrapper {
    width: 100%;
}

header {
    width: 200px;
}

footer {
    width: 200px;
}

section {
    width: calc(100% - 250px);
}

header > h1 {
    display: none;
}