---
---

@import "{{ site.theme }}";

.wrapper {
    width: 90%;
}

header {
    width: 20%;
    background: unset;
}

section {
    width: 70%;
    float: right;
    padding-bottom: 50px;
}

footer {
    width: 20%;
}
