---
---

@import "{{ site.theme }}";

.wrapper {
    width: 90%;
}

header {
    width: 20%;
    background: unset;
}

header > h1 {
    display: none;
}

section {
    width: 70%;
    float: right;
    padding-bottom: 50px;
}

@media print, screen and (max-width: 960px) {
    header, section, footer {
    }
}

footer {
    width: 20%;
}
