name: Apex Tests

on: workflow_dispatch

env:
  CUMULUSCI_SERVICE_github: ${{ secrets.CUMULUSCI_SERVICE_github }}

jobs:
  unit_tests:
    name: "Run Apex tests"
    runs-on: ubuntu-latest
    environment: cumulusci
    steps:
    - uses: actions/checkout@v2
    - name: Install Salesforce CLI
      uses: salesforcecli/action-setup@v2
      with: 
        install: "sf"
    - name: Authenticate Dev Hub
      run: |
        echo ${{ secrets.SFDX_AUTH_URL }} > sfdx_auth
        sf org login sfdx-url -f sfdx_auth -d -a
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: "3.8"
    - name: Install CumulusCI
      run: |
        python -m pip install -U pip
        pip install cumulusci
    - run: |
        cci flow run ci_feature --org dev --delete-org
